.text-field {
    width: 1500px;
    height: 1000px;
    margin-top: 50px;
    margin-left: 45px;
    margin-bottom: 10px;
    border-radius: 25px;
    border-style:inherit;
    border-radius: 10px;
    font-size: 45px;
    position: relative;
}

.submit-button {
    border-style: none;
    text-align: center;
    width: 300px;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 50px;
    background:#07b410;
    font-size: 45px;
    color: rgb(255, 255, 255);
    border-radius: 45px;
}

input[type="text"] {
    text-align: left;
    vertical-align: top;
    padding-top: 0px;
    padding-left: 0px;
}

.first-name{
    border-style: none;
    text-align: center;
    font-size: 35px;
    width: 200px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: rgb(40, 141, 53);
    color: white;
}

.subject {
    border-style: none;
    text-align: center;
    font-size: 35px;
    width: 200px;
    height: 80px;;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 50px;
    border-radius: 20px;
    background-color: rgb(40, 141, 53);
    color: white;
}

.subject:hover{
    transition: 0.7s;
    box-shadow: 0 0 700px 10px #4907b4;
    border-image: linear-gradient(25deg, purple, orange) 0.75;
    border-radius: 45px;
}

.last-name{
    border-style: none;
    text-align: center;
    font-size: 35px;
    width: 200px;
    height: 80px;;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: rgb(40, 141, 53);
    color: white;
}

.person-info{
    display: inline;
}

.email{
    border-style: none;
    text-align: center;
    font-size: 35px;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 25px;
}
/* 
@media only screen and (max-width: 1280px) {
    .container{
        width: 100%;
        padding: 10px;
    }
} */

.textfield-description{
    font-size: 35px;
    margin-top: 50px;
}

.first-name:hover{
    transition: 0.7s;
    box-shadow: 0 0 700px 10px #4907b4;
    border-image: linear-gradient(25deg, purple, orange) 0.75;
    border-style:inherit;
    border-radius: 45px;
}

.last-name:hover{
    transition: 0.7s;
    box-shadow: 0 0 700px 10px #4907b4;
    border-image: linear-gradient(25deg, purple, orange) 0.75;
    border-style:inherit;
    border-radius: 45px;
}

.email:hover{
    transition: 0.7s;
    box-shadow: 0 0 700px 10px #4907b4;
    border-image: linear-gradient(25deg, purple, orange) 0.75;
    border-style:inherit;
    border-radius: 45px;
}

.container #contact{
    border-style:inherit;
    font-size: 35px;
    color:#f7f8f6;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    border-radius: 10px;
    opacity: 0.8;
    transition: 1.5s;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 45px;
}