footer {
    background: linear-gradient(90deg, rgb(23, 53, 79) 30%, rgb(71, 69, 69) 100%);  /* Adjust the background color as needed */
    color: #fff; /* Text color */
    text-align: center;
    padding: 1px;
    position: static;
    width: 100%;
    top: 5%;
    bottom: 10;
    left: 0;
    right: 0;
    max-width: auto;
    max-height: auto;     
}

/* Additional styling for links in the footer, adjust as needed */
footer a {
    color: #fff;
    text-decoration: none;
    display:inline-flex;
    margin-left: 20px;
}

p {
    display: inline-block;
    padding-left: 30px;
}

.flag {
    margin-left: 50px;
    font-size: 50px;
}

.flag:hover {
    transform: scale(2.0);
}