.dropdown-media {
  position:fixed;
  display: inline-block;
}

.content-media {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: linear-gradient(0.5turn, #672d7e, #68b819, #a76219 100%);
}

.content-media a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-media:hover .content-media {
  display: block;
}