.topnav {
    background:rgb(5, 63, 114);
    overflow: hidden;
    font-size: 25px;
    top: 0;
    right: 0;
    left: 0;
    font-size: 40px;
    position: fixed;
    z-index: 9999;
    display: inline-flex; /* Add this line */
    justify-content: center; 
    height: 80px;/* Center the content horizontally */
    /* max-width: 1920px;
    max-height: 1080px; */
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    text-shadow: rgb(19, 19, 18) 0 0 15px;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 50px;
}

/* Style the links inside the navigation bar 
.topnav{
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-shadow: rgb(19, 19, 18) 0 0 15px;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
} */

.home-content{
  display: inline-flex;
}

.dropdown {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-shadow: rgb(19, 19, 18) 0 0 15px;
  padding: 14px 16px;
  text-decoration: none;
}
  
  /* Change the color of links on hover */
.topnav a:hover{
    transition: 0.7s;
    color: #e78924;
}
