.topnav {
    background: linear-gradient(0.25turn, #672d7e, #68b819, #a76219 100%);
    overflow: hidden;
    font-size: 20px;
    border-radius: 75px;
    display:inline-flexbox;
    margin-left: 25px;
    margin-right: 125px;
    justify-content: center;
    width: 90%;
    top: 10px;
    right: 10px;
    left: 10px;
    position: fixed;
    z-index: 9999;
    /* max-width: 1920px;
    max-height: 1080px; */
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-shadow: rgb(19, 19, 18) 0 0 15px;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav{
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-shadow: rgb(19, 19, 18) 0 0 15px;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

.home-content{
  display: inline-block;
}

.dropdown {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-shadow: rgb(19, 19, 18) 0 0 15px;
  padding: 14px 16px;
  text-decoration: none;
}
  
  /* Change the color of links on hover */
.topnav a:hover{
    transition: 0.7s;
    border-radius: 35px;
    font-size: 30px;
    text-shadow: rgb(65, 23, 165) 0 0 15px;
    background: linear-gradient(to right, #513ad6, #a7301b);
}
