/* Styles for PC screens */
@media only screen and (min-width: 768px) {
    .container {
      width: 960px;
      margin: 0 auto;
      position: static;
    }
  }
  
  /* Styles for mobile screens */
  @media only screen and (max-width: 767px) {
    .container {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      position: static;
    }

    .contact-space{
        width: 10%;
        padding: 10px;
        box-sizing: border-box;
      }
  }