.image-left {
    float: left;
    margin-right: 10px;
  }

.jobskills{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: -20px;
}

.softskills{
    font-size: 30px;
    margin-bottom: 60px;
    margin-right: -20px;
}

.languages{
    list-style-type:none;
    font-size: 30px;
    text-align:center;
    padding: 15px 200px;
}

.softskills-list{
    list-style-type:none;
}

.container:hover  .jobskills, .container:hover .softskills {
    border-style:inherit;
    font-size: 32px;
    background:linear-gradient(0.25turn, #3f87a6, #f7f8f6, #f69d3c 100%);
    border-image: linear-gradient(25deg, purple, orange) 0.75;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    border-radius: 10px;
    margin-left: 110px;
    margin-right: 100px;
    margin-bottom: 50px;
    box-shadow: 0 0 700px 10px #4907b4;
    opacity: 0.8;
    transition: 1.5s;
}