.image-left {
    float: left;
    margin-right: 10px;
  }

.jobskills,p{
    border-style:inherit;
    text-align: center;
    font-size: 40px;
    color:#f7f8f6;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    max-width: 70%;
    max-height: 50%;
}

.jobskills .languages{
    margin-top: 10px;
}

.jobskills-button, .softskills-button{
    border-style: none;
    text-align: center;
    width: 200px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 50px;
    background:#07b410;
    font-size: 25px;
    color: rgb(255, 255, 255);
    border-radius: 45px;
}

.jobskill-description{
    display: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: left;
    border-radius:90deg;
}

.icon{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 30px;
}

.language:hover .jobskill-description{
    display: block;
    border-style:groove;
    border-radius: 45deg;
    border-color: rgb(58, 23, 87);
    box-shadow: rgb(43, 17, 23);
    background-color: rgb(8, 4, 55);
    height: auto;
    width: 500px;
}

.toggle_icon{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.toggle_icon:hover{
    transform: scale(1.5);
}

/*.icon:hover{
    transform: scale(2.5);
}*/

.language,.skill{
    display:inline-flex;
    font-size: 45px;
    margin-left: 35px;
}

.language,.skill{
    display:none;
    font-size: 45px;
    margin-left: 35px;
}

.skill{
    font-size: 35px;
}

.star-rating{
    margin-top: 10px;
    margin-right: 50px;
}


.softskills{
    border-style:inherit;
    text-align: center;
    font-size: 40px;
    color:#f7f8f6;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    max-width: auto;
    max-height: auto;
}

/*.softskills:hover .skill{
    display:inline-flex;
}

.jobskills:hover .language{
    display:inline-flex;
    transition: 0.7s;
}*/

.languages{
    display: inline-flex;
    margin-top: -100px;
    list-style-type:none;
    font-size: 30px;
    text-align:center;
    padding: 15px 200px;
}

.softskills-list{
    list-style-type:none;
}