img{
    margin-top: 160px;
    margin-bottom: -20px;
    margin-left: 70px;
    height: 400px;
    width: 400px;
    border-radius: 45%;
    top: 10px;
    position:static
}

html {
    scroll-behavior:smooth;
}

body{
    /*
    max-width: 1920px;
    max-height: 1080px;
    background: linear-gradient(0.75turn, #90d5ec 0%, #fc575e 74%);
    */
    border-style:inherit;
    overflow-x: hidden;
    overflow-y:scroll;
}

.profile{
    border-style:inherit;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    top: 10px;
    background:linear-gradient(0.25turn, #3f87a6, #f7f8f6, #f69d3c 100%);
    border-image: linear-gradient(25deg, rgb(12, 61, 16), orange) 0.75;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-top: 150px;
    opacity: 0.8;
    transition: 1.5s;
}