.topnav {
    background: linear-gradient(0.25turn, #672d7e, #68b819, #a76219 100%);
    overflow: hidden;
    font-size: 20px;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the color of links on hover */
.topnav a:hover{
    transition: 1.5s;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    text-shadow: rgb(65, 23, 165) 0 0 15px;
}
