.media {
    font-size: 35px;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    position: relative;
    display: inline-block;
    top: -10px;
    left: 30px;
}

.dropdown {
    font-size: 35px;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    position: relative;
    display: inline-block;
    /*top: -10px;*/
    left: -200px;
    bottom: -100px;
}

.dropdown-content{
    display: none;
    border-style:inset;
    position: absolute;
    border-image: linear-gradient(25deg, purple, orange) 0.75;
    background:linear-gradient(0.25turn, #3f87a6, #f7f8f6, #f69d3c 100%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1px 20px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content a:hover {
    transition: 1s;
    display: block;
    box-shadow: 0 0 700px 10px #4907b4;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    border-radius: 50%;
    opacity: 0.75;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.jobskills{
    font-size: 22px;
    margin-bottom: 60px;
    margin-right: -20px;
}

.languages{
    list-style-type:disc;
    font-size: 30px;
    text-align:initial;
    padding: 15px 200px;
}

.softskills{
    font-size: 25px;
    margin-bottom: 60px;
    margin-right: -20px;
}
  
.jobskills:hover{
    border-style:inherit;
    font-size: 30px;
    background:linear-gradient(0.25turn, #3f87a6, #f7f8f6, #f69d3c 100%);
    border-style:inherit;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    border-radius: 10px;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 150px;
    margin-bottom: 50px;
    box-shadow: 0 0 700px 10px #4907b4;
    opacity: 0.8;
    transition: 1.5s;
}

.softskills:hover{
    border-style:inherit;
    font-size: 30px;
    background:linear-gradient(0.25turn, #3f87a6, #f7f8f6, #f69d3c 100%);
    border-image: linear-gradient(25deg, purple, orange) 0.75;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    border-radius: 10px;
    margin-left: 110px;
    margin-right: 100px;
    margin-bottom: 50px;
    box-shadow: 0 0 700px 10px #4907b4;
    opacity: 0.8;
    transition: 1.5s;
}