img{
    margin-top: 10px;
    margin-bottom: -20px;
    height: 300px;
    width: 300px;
    border-radius: 100px;
}
body{
    background: linear-gradient(0.75turn, #90d5ec 0%, #fc575e 74%);
}
.profile{
    display:grid;
    font-size: 22px;
    margin-left: 390px;
    margin-right: 20px;
    margin-top: -280px;
    margin-bottom: 60px;
}

.profile:hover{
    border-style:inherit;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    background:linear-gradient(0.25turn, #3f87a6, #f7f8f6, #f69d3c 100%);
    border-image: linear-gradient(25deg, rgb(12, 61, 16), orange) 0.75;
    text-shadow: rgb(32, 25, 12) 0 0 15px;
    margin-left: 310px;
    margin-right: 40px;
    box-shadow: 0 0 700px 10px #4907b4;
    opacity: 0.8;
}

img:hover{
    border-radius: 15px;
    transform: scale(1.2);
    margin-left: 45px;
}